<nav class="bg-gray-800 p-4 text-white flex justify-between">
  <div>
    <%= link_to "Home", home_path, class: "px-4" %>
    <%= link_to "Friends", friends_path, class: "px-4" %>
    <%= link_to "Friend Requests", friendship_requests_path, class: "px-4" %>
    <%= link_to "Publish", new_post_path, class: "px-4" %>
    <%= link_to "Groups", groups_path, class: "px-4" %>
    <%= link_to "Profile", profile_path, class: "px-4" %>
  </div>
  <div>
    <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
  </div>
</nav>
